.banner {
    background: var(--degrade);
    color: var(--cor-secundaria);
    text-align: center;
    padding: 40px 32px;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    margin: 8px 0 24px;
}

.banner__pesquisa {
    background-color: transparent;
    color: var(--cor-secundaria); 
    border: 1px solid var(--cor-secundaria);
    border-radius: 24px;
    width: 100%;
    padding: 12px 24px;
}

.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-weight: 400;
    color: var(--cor-secundaria);
    background: url(../assets/icons/Pesquisa.svg) no-repeat;
    background-size: 18px;
    text-align: center;
}

@media screen and (min-width: 1024px){
    
    .banner__titulo {
        font-size: 36px;
        padding: 44px 225px 6px;
    }

    .banner__texto {
        padding-bottom: 2px;
    }

    .banner__pesquisa {
        width: 50%;
    }

    .banner__pesquisa {
        margin-bottom: 44px;
    }
}

@media screen and (min-width: 1728px) {
    
    .banner__pesquisa {
        width: 700px;
    }
}